<%= content_tag :div, class: "col-md-8" do %>
  <% if @all %>
   <h2>Posts by <%= @posts.first.user.username %> (<%= @posts.length %>)</h2>
  <% end %>
  <% @posts.each do |post| %>
    <%= content_tag :article, class: "media content-section" do %>
      <% if post.user.avatar.attached? %>
        <%= image_tag url_for(post.user.avatar), class: "img-circle article-img" %>
      <% else %>
        <%= image_tag gravatar_image_url("test@example.com"), class: "img-circle article-img" %>
      <% end %>
      <%= content_tag :div, class: "media-body" do %>
        <%= content_tag :div, class: "article-metadata" do %>
          By <%= link_to "#{ post.user.username }", "users/#{post.user_id}/all_posts", class: "mr-2" %>
          on <small class="text-muted"><%= post.created_at.strftime("%A, %d %B %Y") %></small>
        <% end %>
        <%= content_tag :h2, class: "" do %>
          <%= link_to "#{ post.title.capitalize! }", post, class: "article-title" %>
        <% end %>
        <%= content_tag :p, truncate(post.body, length:300), class: "article-content" %>
        <%= social_share_button_tag(post.title) %>
      <% end %>
    <% end %>
  <% end %>
  <%= paginate @posts %>
<% end %>
